body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../images/restaurant.jpeg");
    background-repeat: no-repeat;
}

header{
    background-color: rgb(74, 90, 165);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-left: -20px;
    border: solid black 1px;
    /* Make header follow viewport as the user scrolsl down */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.red{
    color: red;
}

header button{
    width: 25%;
    height: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
    background-color: bisque;
    color: rgb(25, 42, 120);
    border-radius: 10px;
}

#content{
    background-color: rgb(54, 66, 122);
    color: white;
    border-radius: 10px;
    border: solid rgb(6, 22, 128) 2px;
    padding: 25px;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-container img{
    width: 90%;
}

.p-container{
    font-size: 1.5em;
    text-align: left;
}

.span-columns{
    grid-column: 1/-1;
}

.timing-container{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.p-timing, .p-lines{
    color: rgb(172, 170, 170);
    font-size: 1.2em;
}

.p-timing{
    grid-column: 2;
}

/* Phone/small screen adjustments */
@media screen and (max-width: 1000px) {
    .img-container{
        grid-column: 1/-1;
    }

    .p-container{
        grid-column: 1/-1;
    }

    .p-timing{
        grid-column: 1/-1;
    }

    .p-lines{
        display: none;
    }
}
